<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<head>
    <style>
    </style>

</head>

<body>
    <br><br>
    <div class="container">
        <div style="text-align: center;">
            <span style="font-size: 80px;">L.point 대잔치</span>
            <h5>L.point 이벤트 참여하고 L.point 받아가세요</h5> 
        </div>
        <br>
        <br>
        <h2>L.point가 뭔가요?</h2>
        롯데멤버스는 약 3,600만 회원을 갖춘 롯데그룹의 다양한 인프라와 경쟁력 있는 50여개 그룹/외부 제휴사를 결합한 통합 멤버십입니다.
        L.POINT는 롯데멤버스 제휴사를 이용할 때마다 구매금액의 최대 5%까지 적립되며, 1P만 있어도 현금처럼 편리하게 사용할 수 있습니다.
        <br><br>
        <h2>L.point는 어디서 쓸 수 있나요?</h2>
        <table>
        <tr>
            <td>롯데그룹의 계열사 뿐 아니라</td>
        </tr>
        <tr></tr>
        <tr>
            <td>
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201712/af646690ac6e47d0a5d34382bd3438d9.png" alt="배달의민족">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201702/77a9355e76684eb491448e310af63798.jpg" alt="세븐일레븐">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201903/80336e27cdd847e6a5e9a0326f70fee1.png" alt="11번가">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201702/f00731ab7cf349beb36f55ddeb29fbe0.jpg" alt="롭스">
            <br>
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201707/015ca6afe84240e1985a43581fa6e4d2.png" alt="YES24">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201702/76c1af3136914fc0863455c8365f5328.jpg" alt="교보문고">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201702/b09caaf458fb495e86d3323d90debfa3.jpg" alt="교보핫트랙스">
            <img src="https://www.lpoint.com/upload/images/ha/affiliate/201909/fcb8c9c1471f4806a309aab5f3d1eb3e.png" alt="페이코">
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>를 비롯한 총 131곳의 제휴사에서 사용하실 수 있습니다. </td>
        </tr>
        <tr>
            <td style="text-align: center; font-size: 3px;"><a href="https://www.lpoint.com/app/affiliate/LHAA100100.do" target="_blank">
                <br>.<br>.<br>more</a></td>
            <td></td>
        </tr>
        </table>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
            <h2>지금 바로 L.point를 받을 수 있는 이벤트에 참여해보세요<br></h2>
            <h1><a href="{% url 'eventIntro' %}">EVENT</a></h1>
            <br><br>
        </div>
    
    </div>
</body>