{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT_UPDATE</title>
    <style>
        div{
           font-family: 'Cafe24Simplehae';
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        .button{
            text-align: center;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div class="py-3 text-center">
                <h2>인증이벤트 참여하기</h2>
                <p class="lead">등록한 정보를 자유롭게 수정해보세요.</p>
        </div>
        <hr>
        <div class=input_form>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <table>
                {{form.as_table}}
                </table>
                <div class="button">
                    <input type="submit" class="btn btn-info" value="제출하기">
                    <input type="reset" class="btn btn-info" value="다시쓰기">
                    <input type="button" class="btn btn-info" value="이전으로" onclick="history.back(1)">
                </div>
            </form>
        </div>
     </div>
</body>
</html> 
{%endblock%}
