<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENT LIST</title>
</head>
  
<body>
    <div class="writehead">
          <div class= main_button>
            <a href="{% url 'create' %}" >upload</a>
            <a href="{% url 'home' %}">go to home</a>
            <a href="{% url 'index' %}">go to event</a>
          </div>
    <div class="head_write">
      <p>다른 사람들이 올린 손가락 인증샷을 확인할 수 있습니다. <br>
        다양한 이들이 어떻게 L.POINT를 사용하고 있는지 확인해보세요!</p>
    </div>
    <hr>     
    <main>
        <h4>이벤트 종류 - {{ post.event_choice }}</h4>
        <h3>제목 -  {{ post.title }}</h3>
        {% if post.photo %}
        <img src="{{ post.photo.url }}" height="300px">
        {% endif %}
        <h6>작성일시 - {{ post.pub_date|date:"Y-m-d 일 / h-i-a"}}</h6>
        <!-- 로그인시 author 자동으로 나오게 수정예정 -->
        <h4>작성자 - {{ post.author }}</h4>         
        <p>내용 - {{ post.body }}</p>
        </form>
        <a href="{% url 'update' post.id%}" class="btn2 btn-outline-danger">수정</a>
        <a href="{% url 'delete' post.id%}" class="btn2 btn-outline-danger">삭제</a>
        <hr>
    </div>   
    </main>
    </body>
</html>